#image-gallery {
    display: block;
    padding: 20px;
    width: 640px;
    margin: 0 auto;
}


#image-gallery img {
    margin: 5px;
    padding: 0px;
    float: left;
    border: 10px solid #000;
    border-radius: 8px;
    text-align: center;
    filter: sepia(0.333);
}